# TeX 的最终产物
# =============================================================================
*.pdf
*.xdv

# TeX 的中间产物
# =============================================================================
# 通用辅助文件
*.aux
# 日志文件
*.log
# 大纲记录文件
*.out
# 辅助生成目录文件
*.toc
# 导航栏超链接文件
*.nav
# 用于幻灯片的相关信息文件
*.snm
# 脆弱命令用的文件
*.vrb
# 文件名记录器
*.fls

# latexmk 的中间文件
# =============================================================================
*.fdb_latexmk

# synctex 的中间文件
# =============================================================================
*.synctex.gz
*.synctex(busy)
